.cards-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
}

.card {
    background: #f2f6f7;
    border-radius: 6px;
    height: 80px;
    width: 200px;
    padding: 12px;
    margin: 12px;
    filter: drop-shadow(6px 6px 3px #4444dd);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    position: relative;
}

.card:hover {
    filter: drop-shadow(6px 6px 3px #6666ff);
}

.card-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.doctor-card {
    width: fit-content;
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
}

h1, .doctor-name {
    font: 26px/26px Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
}

section.doctors {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.doctor-page {
    display: block;
    width: 100%;
}

.doctor-add-form {
    display: flex;
    flex-direction: column;
}

.doctor-add-form > * {
    width: 400px;
    margin: 12px;
    padding: 6px;
    border-radius: 6px;
    min-height: 40px;
    font-size: 16px;
}

.cancel {
    display: flex;
    background-color: #e9e9ed;
    color: #000;
    align-items: center;
    justify-content: center;
    max-height: 40px;
    box-sizing: border-box;
    height: 100%;
}

.cancel:hover {
    background-color: #d0d0d7;
    color: #000;
}

.doctor-add-form > select, .doctor-add-form > input[type=submit], .cancel {
    width: 416px;
}

.add-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.add-buttons a {
    padding: 6px 12px;
    margin-right: 16px;
    height: 32px;
    border: 1px solid #D2CBBD;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-buttons a:hover {
    box-shadow: 6px 6px 3px #4444dd;
}