body .popup-window-content div.bx-clock-div {
	background: transparent;
	height: auto;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
	text-align: center;
	width: auto;
}

body .popup-window-content div.bx-clock-div div.bxc-controls-cont {
	padding-bottom: 0;
}

body .popup-window-content div.bx-tm-popup-clock {
	padding: 10px 0 0;
}

body .tm-popup-content {
	margin: 12px;
	position: relative;
	width: 450px;
}

.tm-tabs-content {
	position: static;
	margin: 0;
	-moz-border-radius: 0 3px 3px;
	-webkit-border-radius: 0 3px 3px;
	-khtml-border-radius: 0 3px 3px;
	border-radius: 0 3px 3px;
}

body .tm-report-popup-desc .tm-report-popup-desc-text .tm-tabs-content,
body .tm-report-popup-desc .tm-report-popup-desc-text-view .tm-tabs-content {
	margin: 0;
}

.tm-tab-content {
	background-color: #FFFFFF;
	border: 1px solid #c6cdd3;
	padding: 10px;
	border-radius: var(--ui-border-radius-xs, 0);
}

.tm-tabs-box .tm-tab-content {
	border-top-left-radius: 0;
}

.tm-tab-content form {
	background-color: #ecf2f3;
	display: block;
	padding: 10px;
}

.bx-planner-content {
	width: auto;
}

.tm-popup-tasks-empty .tm-popup-task-form {
	margin-left: 0;
}

.tm-popup-section {
	height: 39px;
}

.tm-popup-section-left,
.tm-popup-section-right {
	display: none;
}

.tm-popup-section-text {
	color: #535c69;
	height: 39px;
	font: var(--ui-font-weight-bold) 14px/39px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	padding-left: 10px;
	vertical-align: middle;
}

.tm-popup-section-tasks {
	background: #b9e9fa;
}

.tm-popup-section-events {
	background: #ffe75e;
}

.tm-popup-section-right-link {
	color: #3a8090;
	font-size: 12px;
	line-height: 14px;
	opacity: 0.6;
	margin-top: 12px;
	text-decoration: none;
	border-bottom: 1px dashed #3a8090;

	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.tm-popup-section-right-link:hover {
	color: #3a8090;
	opacity: 1;
}

body .tm-popup-section-title-text {
	padding: 0 9px 7px;
	margin: 0;
	font: var(--ui-font-weight-bold) 13px/22px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #555;
}

body .tm-report-popup .tm-popup-section-title-line {
	display: none;
}

body .tm-report-popup-items .tm-popup-section-title-link {
	position: absolute;
	right: 2px;
	top: 4px;
	padding: 0 22px 0 0;
	font: 11px/13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #2067b0;
	text-decoration: none;
	cursor: pointer;
	background: url(images/section-right-link.gif) no-repeat right 2px;
}

body .tm-report-popup-items .tm-popup-section-title-link-weekly {
	top: 4px;
}

body .tm-report-popup-items td.tm-report-popup-tasks .tm-popup-tasks,
body .tm-report-popup-items td.tm-report-popup-events .tm-popup-events {
	*position: relative;
	max-height: 206px;
	padding: 0;
	margin: 10px 0 0;
	border: 1px solid #bcd0d5;
	border-radius: var(--ui-border-radius-xs, 3px);
	overflow-y: auto;
	background: #ffffff;
}

.tm-popup-tasks-empty .tm-report-popup-inlude-tasks { display: none; }
.tm-report-popup .tm-popup-tasks-empty .tm-popup-task-form { margin-left: 0; margin-top: 10px; }

.tm-report-popup .tm-popup-tasks { margin-bottom: 0;}


.tm-task-item:hover .tm-task-item-menu {
	display: block;
}

.tm-task-item-menu:hover {
	opacity: 1;
}

.tm-popup-tasks {
	margin: 0 0 15px;
}
.tm-popup-task-list {
	margin: 9px 0 4px;
	max-height: 108px;
	overflow-y: auto;
	padding: 0 0 0 28px;
	position: relative;
}
.tm-popup-task {
	color: #696969;
	font: 12px/17px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	margin: 0 0 7px;
	padding: 0 15px 0 0;
}

.tm-popup-task-name { color: #000; /*border-bottom:1px dashed #156cb6;*/ text-decoration: none; cursor: pointer;  }

.tm-popup-task-time, .tm-popup-task-time-admin {margin-left: 5px; font-size: 11px; color: #696969; text-decoration: none; }
.tm-popup-task-time {cursor: pointer;}

.tm-popup-task-icon { display: none; vertical-align: baseline;}

.tm-popup-task-status-in-progress .tm-popup-task-name { color: #000;  }
.tm-popup-task-status-in-progress .tm-popup-task-icon { display:inline-block; width:10px; height:8px; font-size:1px; background: url(images/play-flash.gif) no-repeat 0 0; }
.tm-popup-task-status-accepted .tm-popup-task-name { color: #000; }
.tm-popup-task-status-completed .tm-popup-task-name { color: #969696;  text-decoration: line-through;}
.tm-popup-task-status-delayed .tm-popup-task-name { color: #969696; }
.tm-popup-task-status-new .tm-popup-task-name { color: #398c1b; }
.tm-popup-task-status-overdue .tm-popup-task-name { color: #cc2020; }
.tm-popup-task-status-waiting .tm-popup-task-name { color: #dd7d00; }
.tm-popup-task-status-declined .tm-popup-task-name { color: #dd7d00; text-decoration: line-through;}

.tm-popup-task-delete { position:absolute; width: 13px; height: 13px; margin:3px 0 0 4px; cursor:pointer; vertical-align:middle;  background:none;}
.tm-popup-task:hover .tm-popup-task-delete { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -283px;  }
.tm-popup-task:hover .tm-popup-task-delete:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -17px -283px; }
.tm-popup-task-name:hover { border-bottom:1px dashed #156cb6; color: #156cb6;}
.tm-popup-task-time:hover { border-bottom:1px dashed #696969;}

.tm-popup-task-form { margin: 8px 0 0 28px; }
.tm-popup-task-form-textbox { width:270px; color: #000; border: 1px solid #adadad; vertical-align: middle; font: normal normal normal 12px/normal var(--ui-font-family-primary, var(--ui-font-family-helvetica)); }

.tm-popup-tasks-empty .tm-popup-task-form { margin-left: 6px; }
.tm-popup-tasks-empty .tm-popup-task-form-textbox { width: 292px; }

.tm-popup-tasks-empty .tm-popup-task-list {display: none;}
.tm-popup-events-empty .tm-popup-event-list {display: none;}


.tm-popup-task-form-submit, .tm-popup-event-form-submit {
	display:inline-block;
	width:17px;
	height: 17px;
	background: url(/bitrix/js/main/core/images/controls-sprite.png) -13px -304px;
	vertical-align: middle;
	margin: 0 0 0 6px;
	cursor: pointer;
}

.tm-popup-task-form-disabled .tm-popup-task-form-textbox { color: #adadad; }
.tm-popup-task-form-disabled .tm-popup-task-form-submit { cursor: default;  background: url(/bitrix/js/main/core/images/controls-sprite.png) -11px -68px; }


.tm-task-list {
	max-height: 116px;
	overflow: auto;
	padding: 8px 0 0 8px;
}

.tm-task-item {
	color: #555;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-size: 12px;
	line-height: 15px;
	overflow: hidden;
	padding-top: 7px;
	position: relative;
}

.tm-task-checkbox {
	display: inline-block;
	margin: 1px 6px 0 0;
	padding:0;
	vertical-align: top;
}

.tm-task-num {
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
}

.tm-task-name {
	color: #0069c4;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	max-width: 163px;
	white-space: nowrap;
}

.tm-task-no-timer.tm-task-name {
	max-width: 273px;
}

.tm-task-name:hover {
	color: #0069c4;
	text-decoration: underline;
}

.tm-task-item-done .tm-task-name {
	text-decoration: line-through;
}

.tm-task-time {
	display: inline-block;
	min-height: 11px;
	padding-left: 18px;
	position: relative;
	vertical-align: top;
}

.tm-task-time:before {
	background: url(images/task-sprite_6.png) no-repeat -22px -1143px;
	content: "";
	height: 11px;
	left: 4px;
	top: 2px;
	position: absolute;
	width: 11px;
}

.tm-task-item-menu {
	background: url(images/task-sprite_6.png) no-repeat 0 -1180px;
	cursor: pointer;
	display: none;
	height: 20px;
	right: 0;
	top: 6px;
	opacity: 0.7;
	position: absolute;
	width: 14px;
}

.tm-task-item:hover .tm-task-item-menu {
	display: block;
}

.tm-task-item-menu:hover {
	opacity: 1;
}

.tm-popup-task-time, .tm-popup-task-time-admin {
	color: rgb(105, 105, 105);
	font-size: 11px;
	margin-left: 5px;
	text-decoration: none;
}
.tm-popup-task-time {
	cursor: pointer;
}
.tm-popup-task-icon {
	display: none;
	vertical-align: baseline;
}
.tm-popup-task-status-in-progress .tm-popup-task-name {
	color: rgb(0, 0, 0);
}
.tm-popup-task-status-in-progress .tm-popup-task-icon {
	background: url(images/play-flash.gif) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: inline-block;
	font-size: 1px;
	height: 8px;
	width: 10px;
}
.tm-popup-task-status-accepted .tm-popup-task-name {
	color: rgb(0, 0, 0);
}
.tm-popup-task-status-completed .tm-popup-task-name {
	color: rgb(150, 150, 150);
	text-decoration: line-through;
}
.tm-popup-task-status-delayed .tm-popup-task-name {
	color: rgb(150, 150, 150);
}
.tm-popup-task-status-new .tm-popup-task-name {
	color: rgb(57, 140, 27);
}
.tm-popup-task-status-overdue .tm-popup-task-name {
	color: rgb(204, 32, 32);
}
.tm-popup-task-status-waiting .tm-popup-task-name {
	color: rgb(221, 125, 0);
}
.tm-popup-task-status-declined .tm-popup-task-name {
	color: rgb(221, 125, 0);
	text-decoration: line-through;
}
.tm-popup-task-delete {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	cursor: pointer;
	height: 13px;
	margin: 3px 0 0 4px;
	position: absolute;
	vertical-align: middle;
	width: 13px;
}
.tm-popup-task:hover .tm-popup-task-delete {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat scroll 0 -283px rgba(0, 0, 0, 0);
}
.tm-popup-task:hover .tm-popup-task-delete:hover {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat scroll -17px -283px rgba(0, 0, 0, 0);
}

.tm-popup-task-time:hover {
	border-bottom: 1px dashed rgb(105, 105, 105);
}
.tm-popup-task-form {
	margin: 4px 0 0 28px;
}
.tm-popup-task-form-textbox {
	border: 1px solid rgb(173, 173, 173);
	color: rgb(0, 0, 0);
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	vertical-align: middle;
	width: 270px;
}
.tm-popup-tasks-empty .tm-popup-task-form {
	margin-left: 6px;
}
.tm-popup-tasks-empty .tm-popup-task-form-textbox {
	width: 292px;
}
.tm-popup-tasks-empty .tm-popup-task-list {
	display: none;
}
.tm-popup-events-empty .tm-popup-event-list {
	display: none;
}
.tm-popup-task-form-submit, .tm-popup-event-form-submit {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") repeat scroll -13px -304px rgba(0, 0, 0, 0);
	cursor: pointer;
	display: inline-block;
	height: 17px;
	margin: 0 0 0 6px;
	vertical-align: middle;
	width: 17px;
}
.tm-popup-task-form-disabled .tm-popup-task-form-textbox {
	color: rgb(173, 173, 173);
}
.tm-popup-task-form-disabled .tm-popup-task-form-submit {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") repeat scroll -11px -68px rgba(0, 0, 0, 0);
	cursor: default;
}

.tm-popup-events { margin: 10px 0 0 6px; }
.tm-popup-event-list { max-height: 90px; overflow-y: auto; position: relative;}

.tm-popup-event { overflow: hidden; margin: 0 0 6px 0; position:relative; font:normal 12px/17px var(--ui-font-family-primary, var(--ui-font-family-helvetica));}
.tm-popup-event-datetime { float: left; }
.tm-popup-event-time-passed { color: #a0a0a0; }
.tm-popup-event-separator { display:inline-block; padding: 0 3px; }
.tm-popup-event-name { overflow: hidden; padding: 0 0 0 10px;  }
.tm-popup-event-text { color: #000; cursor: pointer; vertical-align: middle;}
.tm-popup-event-name .tm-popup-event-text { color: #000; text-decoration: none; }

.tm-popup-event-delete {  display: inline-block; width: 13px; height: 13px; margin:0 0 0 5px; cursor:pointer; vertical-align:middle;  background:none;}
.tm-popup-event:hover .tm-popup-event-delete { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -283px;  }
.tm-popup-event:hover .tm-popup-event-delete:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -17px -283px; }
.tm-popup-event-text:hover { border-bottom:1px dashed #156cb6; color: #156cb6;}

.tm-popup-event-form { margin: 10px 0 0 0;}
.tm-popup-event-start-time-textbox { width:31px; text-align: center;}
.tm-popup-event-start-time-textbox_am_pm { width:48px; text-align: center;}
.tm-popup-event-end-time-textbox { width:31px; margin: 0 10px 0 7px; text-align: center;}
.tm-popup-event-end-time-textbox_am_pm { width:48px; margin: 0 10px 0 7px; text-align: center;}
.tm-popup-event-form-textbox { width: 209px; }
.tm-popup-event-form-textbox_am_pm { width: 200px; }
.tm-popup-event-start-time-textbox, .tm-popup-event-start-time-textbox_am_pm, .tm-popup-event-end-time-textbox, .tm-popup-event-end-time-textbox_am_pm, .tm-popup-event-form-textbox, .tm-popup-event-form-textbox_am_pm { color: #000; border: 1px solid #adadad; vertical-align: middle; font: normal normal normal 12px/normal var(--ui-font-family-primary, var(--ui-font-family-helvetica)); }
.tm-popup-event-start-time-textbox, .tm-popup-event-start-time-textbox_am_pm, .tm-popup-event-end-time-textbox, .tm-popup-event-end-time-textbox_am_pm { font-size: 11px; }
.tm-popup-event-form-disabled .tm-popup-event-form-textbox, .tm-popup-event-form-textbox_am_pm, .tm-popup-event-form-disabled .tm-popup-event-start-time-textbox, .tm-popup-event-start-time-textbox_am_pm, .tm-popup-event-form-disabled .tm-popup-event-end-time-textbox, .tm-popup-event-end-time-textbox_am_pm { color: #adadad; }
.tm-popup-event-form-disabled .tm-popup-event-form-submit { cursor: default; background: url(/bitrix/js/main/core/images/controls-sprite.png) -11px -68px;  }
.tm-popup-event-form-options { width:294px; text-align: right; font: normal normal normal 11px/normal var(--ui-font-family-primary, var(--ui-font-family-helvetica)); color: #888888; padding: 2px 0 0 0;}
.tm-popup-event-form-options input { vertical-align: middle; }
.tm-popup-event-form-options label { vertical-align: middle; }

/*============================================Timeman=================================================*/
body .tm_wait {
	height: 30px;
	width: 29px;
}

body .tm-popup-content {
	margin: 12px;
	position: relative;
	width: 450px;
}

.bx-planner-content {
	width: auto;
}

.tm-tabs {
	margin: 0;
	height: 42px;
	font-size: 0;
}

.tm-tabs-content {
	position: static;
	margin: 0;
	-moz-border-radius: 0 3px 3px;
	-webkit-border-radius: 0 3px 3px;
	-khtml-border-radius: 0 3px 3px;
	border-radius: 0 3px 3px;
}

.tm-tab-content {
	background-color: #FFFFFF;
	border: 1px solid #c6cdd3;
	padding: 10px;
	border-radius: var(--ui-border-radius-xs, 0);
}

.tm-tabs-box .tm-tab-content {
	border-top-left-radius: 0;
}

.tm-tab-content form {
	background-color: #ecf2f3;
	display: block;
	padding: 10px;
}

.invite-dialog-inv-block {
	padding-top: 0;
}

.tm-popup-report-text {
	padding: 0 16px 0 0;
}

.tm-tabs-box {
	padding: 10px 0 4px;
}

.tm-popup-report-textarea {
	border: 1px solid #c6cdd3;
	border-radius: var(--ui-border-radius-2xs, 2px);
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	margin: 0;
	padding: 7px;
	outline: none;
}


.tm-tabs-hr {
	display: none;
}

.tm-tab {
	background-color: #ecf2f3;
	border: 1px solid #fff;
	border-bottom: none;
	color: #535c69;
	height: 41px;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-size: 14px;
	font-weight: var(--ui-font-weight-bold);
	line-height: 41px;
	margin: 0 0 0 10px;
	vertical-align: top;
	text-shadow: none;
	padding: 0 17px;

	-webkit-transition: background-color 0.15s linear;
	transition: background-color 0.15s linear;
}

.tm-tab:first-child {
	margin:0;
}

.tm-tab:hover {
	background-color: #f7f9f9;
}

.tm-tabs .wr-call-lable {
	border-bottom-color: transparent;
	color: #0b66c3;
	line-height: 15px;
	right: 6px;
	top: 14px;
	padding: 0;

	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.tm-tabs .wr-call-lable:hover {
	border-bottom: 1px dashed;
}

.tm-tab-selected {
	background-color: #fff!important;
	cursor: default;
	border-color: #c6cdd3 #c6cdd3 #fff;
	height: 42px;
	position: relative;
	z-index: 11;
}

.tm-tab-text:hover {
	background: #f9fafb;
}

.tm-tab-selected .tm-tab-text:hover,
.tm-tab-selected .tm-tab-text {
	background: #fff;
	color: #555;
	height: 32px;
}

.tm-popup-section {
	height: 39px;
}

.tm-popup-section-left,
.tm-popup-section-right {
	display: none;
}

.tm-popup-section-text {
	color: #535c69;
	height: 39px;
	font: var(--ui-font-weight-bold) 14px/39px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	padding-left: 10px;
	vertical-align: middle;
}

.tm-popup-section-tasks {
	background: #b9e9fa;
}

.tm-popup-section-events {
	background: #ffe75e;
}

.tm-popup-section-right-link {
	color: #3a8090;
	font-size: 12px;
	line-height: 14px;
	opacity: 0.6;
	margin-top: 12px;
	text-decoration: none;
	border-bottom: 1px dashed #3a8090;

	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.tm-popup-section-right-link:hover {
	color: #3a8090;
	opacity: 1;
}

.tm-popup-events {
	margin: 10px 0 0;
}

.tm-popup-event {
	margin: 0 6px 6px;
	font: 14px/normal var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.tm-popup-event-datetime {
	color: #555;
}

.tm-popup-event-name .tm-popup-event-text,
.tm-popup-task-status-in-progress .tm-popup-task-name,
.tm-popup-task-status-accepted .tm-popup-task-name {
	color: #535c69;
	vertical-align: top;
}

.tm-popup-event-name .tm-popup-event-text:hover,
.tm-popup-task-status-in-progress .tm-popup-task-name:hover,
.tm-popup-task-status-accepted .tm-popup-task-name:hover {
	border-bottom: 0;
	color: #2067b0;
}

.tm-popup-task-form {
	position: relative;
	margin: 10px 0 0;
}

.tm-popup-event-form {
	position: relative;
}

.tm-report-popup .tm-popup-task-form {
	margin-left: 0;
	position: relative;
}

.tm-popup-tasks-empty .tm-popup-task-form {
	margin-left: 0;
}

.tm-popup-event-form .tm-popup-event-start-time-textbox,
.tm-popup-event-form .tm-popup-event-end-time-textbox,
.tm-popup-event-form .tm-popup-event-form-textbox,
.tm-popup-task-form .tm-popup-task-form-textbox,
.tm-popup-event-form .tm-popup-event-start-time-textbox_am_pm,
.tm-popup-event-form .tm-popup-event-end-time-textbox_am_pm,
.tm-popup-event-form .tm-popup-event-form-textbox_am_pm,
.tm-popup-task-form .tm-popup-task-form-textbox_am_pm {
	border: 1px solid #c6cdd3;
	border-radius: var(--ui-border-radius-2xs, 2px);
	color: #555;
	font: 14px/normal var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	height: 36px;
	padding: 0 7px;
	outline: none;
}

.tm-popup-event-form .tm-popup-event-start-time-textbox,
.tm-popup-event-form .tm-popup-event-end-time-textbox {
	padding: 0 4px !important;
	text-align: center;
	width: 36px;
}

.tm-popup-event-form-textbox_am_pm {
	width: 207px;
}

.tm-report-popup-events .tm-popup-event-form-textbox_am_pm {
	width: 136px;
}

.tm-popup-task-form .tm-popup-task-form-textbox {
	width: 355px;
}

.tm-report-popup-tasks .tm-popup-task-form-textbox {
	width: 275px;
}

.tm-popup-event-form-textbox {
	width: 205px;
}

.tm-report-popup .tm-popup-event-form-textbox {
	width: 147px;
}

.tm-popup-event-form-disabled .tm-popup-event-form-options,
.tm-popup-event-form-disabled .tm-popup-event-start-time-textbox,
.tm-popup-event-form-disabled .tm-popup-event-end-time-textbox,
.tm-popup-event-form-disabled .tm-popup-event-form-textbox,
.tm-popup-task-form-disabled .tm-popup-task-form-textbox {
	color: #535c69;
}

.tm-popup-event-form-options label {
	color: #8a8f94;
	font-size: 12px;
}

.tm-popup-task-form-submit,
.tm-popup-event-form-submit,
.tm-popup-event-form-disabled .tm-popup-event-form-submit,
.tm-popup-task-form-disabled .tm-popup-task-form-submit {
	background: transparent;
	border: 1px solid #c6cdd3;
	border-radius: var(--ui-border-radius-2xs, 2px);
	cursor: pointer;
	margin-left: 10px;
	height: 36px;
	width: 36px;
	position: absolute;
	right: 11px;
}

.tm-report-popup .tm-popup-task-form-submit,
.tm-popup-event-form-submit,
.tm-popup-event-form-disabled .tm-popup-event-form-submit,
.tm-popup-task-form-disabled .tm-popup-task-form-submit {
	right: 0;
}

.tm-popup-task-form-submit:before,
.tm-popup-event-form-submit:before {
	display: block;
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -7px 0 0 -7px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%3E%3Cpath%20fill%3D%22%23535C6A%22%20d%3D%22M12.7936508%2C5.46825397%20C12.7936508%2C5.26190476%2012.6904762%2C5.15873016%2012.484127%2C5.15873016%20L7.73809524%2C5.15873016%20L7.73809524%2C0.30952381%20C7.73809524%2C0.103174603%207.63492063%2C0%207.42857143%2C0%20L5.36507937%2C0%20C5.15873016%2C0%205.05555556%2C0.103174603%205.05555556%2C0.30952381%20L5.05555556%2C5.15873016%20L0.30952381%2C5.15873016%20C0.103174603%2C5.15873016%200%2C5.26190476%200%2C5.46825397%20L0%2C7.53174603%20C0%2C7.73809524%200.103174603%2C7.84126984%200.30952381%2C7.84126984%20L5.15873016%2C7.84126984%20L5.15873016%2C12.6904762%20C5.15873016%2C12.8968254%205.26190476%2C13%205.46825397%2C13%20L7.53174603%2C13%20C7.73809524%2C13%207.84126984%2C12.8968254%207.84126984%2C12.6904762%20L7.84126984%2C7.84126984%20L12.6904762%2C7.84126984%20C12.8968254%2C7.84126984%2013%2C7.73809524%2013%2C7.53174603%20L12.7936508%2C5.46825397%20Z%22/%3E%3C/svg%3E') center no-repeat;
	height: 14px;
	width: 14px;
}


.tm-popup-event-form-submit:hover,
.tm-popup-task-form-submit:hover {
	background-color: #e2e6e9;
	border-color: #b7bcc1;
}

.tm-popup-event-form-options {
	width: auto;
	padding: 2px 0 0 110px;
	text-align: left;
	color: #555;
}

.tm-popup-events-ampm .tm-popup-event-form-options {
	padding-left: 140px;
}

.tm-popup-events-ampm .tm-popup-event-separator {
	padding-left: 6px;
	padding-right: 6px;
}

.tm-popup-event-start-time-textbox_am_pm,
.tm-popup-event-end-time-textbox_am_pm {
	padding: 0 4px 0 2px !important;
	width: 59px;
}

.tm-popup-event-end-time-textbox_am_pm {
	margin: 0 7px;
}

.tm-popup-timeman {
	margin: 14px 0 2px;
}

.tm-popup-timeman-change-time-mode {
	width: auto;
}

.tm-popup-timeman-change-time-mode .tm-popup-change-time-link {
	clear: both;
	color: #8a8f94;
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	height: 14px;
	margin: 0 0 -20px 4px;
	padding-top: 6px;
	text-decoration: none;
	text-align: left;
}

.tm-popup-timeman-change-time-mode .tm-popup-change-time-link:hover {
	text-decoration: underline;

}

.tm-popup-timeman-paused-mode .tm-popup-timeman-pause {
	display: inline-block !important;
	height: 30px;
	font: 12px/31px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #555;
	text-align: left;
	overflow: visible;
}

.tm-popup-timeman-buttons-mode .tm-popup-timeman-layout {
	clear: both;
	width: 100%;
}

.tm-popup-timeman-paused-mode .tm-popup-notice-time-unit {
	display: none;
	*display: inline;
}

.tm-popup-timeman-paused-mode .tm-popup-notice-time-unit,
.tm-popup-timeman-paused-mode .tm-popup-notice-time-number {
	font: var(--ui-font-weight-bold) 15px/31px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868e;
}

.tm-popup-timeman-paused-mode .tm-popup-notice-time-hours .tm-popup-notice-time-number:after,
.tm-popup-timeman-paused-mode .tm-popup-notice-time-minutes .tm-popup-notice-time-number:after {
	display: inline-block;
	padding: 0 2px 0 3px;
	content: ":";
	line-height: 12px;
}

.tm-popup-timeman-pause-time {
	padding: 0 11px;
	vertical-align: top;
}

.tm-popup-timeman-pause-timer-caption {
	color: #80868e;
	display: inline-block;
	height: 31px;
	padding: 0;
	font: var(--ui-font-weight-bold) 14px/30px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	vertical-align: top;
}

.tm-popup-timeman .webform-button {
	margin: 0;
}

.tm-popup-notice {
	background: none;
	border: none;
	color: #7f858d;
	font-size: 14px;
	font-weight: var(--ui-font-weight-bold);
	height: 20px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: #fff 0 1px 1px;
	text-align: left;
}

.tm-popup-notice-left,
.tm-popup-notice-right {
	display: none;
}

.tm-popup-notice-text {
	display: inline-block;
	height: 15px;
	padding: 0;
	font: var(--ui-font-weight-bold) 14px/15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868e;
	vertical-align: top;
}

.tm-popup-report-editmode .tm-popup-report-button .popup-window-button-text {
	color: #555;
}

table.tm-popup-timeman-layout tr td.tm-popup-timeman-layout-time {
	padding-right: 4px;
	width: 0;
}

.tm-popup-task:hover span.tm-popup-task-delete:hover {
	background: url(images/popup-window-close-icon.png) no-repeat center center;
}

div.bx-clock-div-inline .bxc-clock-cont {
	margin: 0;
}

.tm-popup-timeman-layout-button,
.tm-popup-timeman-button-mode .tm-popup-timeman-layout-button,
.tm-popup-timeman-buttons-mode .tm-popup-timeman-layout-button {
	padding: 0 0 20px;
	text-align: left;
	width: 100% ;
}

.tm-popup-timeman-nosocial .tm-popup-timeman-layout-button {
	text-align: center;
}


.tm-popup-button-handler {
	display: block;
	float: left;
}

.tm-popup-timeman-nosocial .tm-popup-button-handler {
	float: none;
	margin: 0 auto;
}


.tm-popup-timeman-nosocial .tm-popup-change-time-link {
	text-align: center;
}

/* copy from core_timeman.css to maintain planner */
.tm-info-bar-btn:before {
	content: '';
	width: 19px;
	height: 18px;
	position: absolute;
	left: 5px;
	top: 4px;
	opacity: 1;
}


.tm-info-bar-active .tm-info-bar-btn-play {
	display: none;
}

.tm-info-bar-pause .tm-info-bar-btn-pause {
	display: none;
}

.tm-info-bar-closed .tm-info-bar-btn-flag {
	display: none;
}

.tm-info-bar-overdue .tm-info-bar-time {
	color: #cc2020;
}

.tm-info-bar-closed .tm-info-bar-text {
	color: #888888;
	text-decoration: line-through;
}

.tm-info-bar-text {
	display: block;
	margin: 0 0 0 5px;
	max-width: 100%;
	overflow: hidden;
	width: auto;
}

.tm-info-bar-text-inner {
	display: block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tm-social-set-popup,
.tm-social-error-popup {
	padding: 5px 8px 10px 5px;
	width: 300px;
}

.tm-social-set-title {
	color: #555656;
	font-size: 13px;
	font-weight: var(--ui-font-weight-bold);
	padding: 0 0 14px 2px;
}

.tm-social-set-textar {
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25) inset;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25) inset;
	color: #585858;
	font-size: 13px;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	height: 52px;
	margin: 0 0 11px;
	text-align: left;
	padding: 6px 9px;
	resize: none;
	width: 265px;
}

.tm-social-set-checkbox-block {
	margin-left: -20px;
}

.tm-social-set-checkbox-wrap {
	display: inline-block;
	margin: 0 0 18px 24px;
	vertical-align: middle;
}

.tm-social-set-checkbox {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.tm-social-set-label {
	color: #555656;
	display: inline-block;
	font-size: 13px;
	font-weight: var(--ui-font-weight-bold);
	margin-left: 6px;
	vertical-align: middle;
}

.tm-social-footer {
	border-top: 1px solid #dfe1e1;
	padding-top: 15px;
	text-align: center;
}

.tm-social-footer-text {
	color: #868b91;
	display: inline-block;
	font-size: 13px;
	vertical-align: middle;
}

.tm-social-footer .webform-small-button-link {
	margin-left: 9px;
	color: #3f4653;
}

.tm-social-error-popup .tm-social-set-title {
	border-bottom: 1px solid #dfe1e1;
}

.tm-social-error-text {
	padding: 10px 4px 15px;
	line-height: 19px;
}

/*==================TASK CRM===================*/

.tm-info-bar {
	border-radius: var(--ui-border-radius-2xs, 2px);
	height: 39px;
	margin: 15px 0 9px;
	padding: 0 6px;
	position: relative;
	border: none;
	line-height: 39px;
	color: #535c69;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	font-size: 14px;
}

.tm-info-bar-active {
	background: #c0edf2;
}

.tm-info-bar-pause {
	background: #dfe0e2;
}

.tm-info-bar-btn {
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 2px;
	cursor: pointer;
	position: relative;

	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
	opacity: 0.8;
}

.tm-info-bar-btn {
	border: 1px solid;
	float: left;
	margin: 6px 6px 0 0;
	height: 25px;
	width: 26px;
}

.tm-info-bar-btn:hover,
.tm-info-bar-btn:active,
.tm-popup-social-btn-active{
	opacity: 1;
	background: none;
}

.tm-info-bar-btn-play:before {
	background: url(images/tm-info-bar-btn-play.svg) no-repeat center;
}

.tm-info-bar-btn-pause,
.tm-info-bar-btn-flag,
.tm-info-bar-btn-play{
	border-color: #9aafb6;
}


.tm-info-bar-btn-pause:before {
	background: url(images/tm-info-bar-btn-pause.svg) no-repeat center;
}

.tm-info-bar-btn-flag:before {
	background: url(images/tm-info-bar-btn-flag.svg) no-repeat center;
}

.tm-info-bar-time {
	height: 39px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	float: right;
	padding: 0 0 0 20px;
	position: relative;
}

.tm-info-bar-active .tm-info-bar-time {
	background: #c0edf2;
}

.tm-info-bar-pause .tm-info-bar-time {
	background: #dfe0e2;
}

.tm-info-bar-time:before {
	display: block;
	width: 19px;
	height: 19px;
	left: 0;
	background: url(images/tm-info-bar-time.svg) no-repeat center;
}

.tm-popup-social-cell {
	text-align: right;
	vertical-align: top;
	padding: 0;
}

.tm-social-set-popup,
.tm-social-error-popup {
	padding: 5px 8px 10px 5px;
	width: 300px;
}

.tm-social-set-title {
	color: #555656;
	font-size: 13px;
	font-weight: var(--ui-font-weight-bold);
	padding: 0 0 14px 2px;
}

.tm-social-set-textar {
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25) inset;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25) inset;
	color: #585858;
	font-size: 13px;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	height: 52px;
	margin: 0 0 11px;
	text-align: left;
	padding: 6px 9px;
	resize: none;
	width: 265px;
}

.tm-social-set-checkbox-block {
	margin-left: -20px;
}

.tm-social-set-checkbox-wrap {
	display: inline-block;
	margin: 0 0 18px 24px;
	vertical-align: middle;
}

.tm-social-set-checkbox {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.tm-social-set-label {
	color: #555656;
	display: inline-block;
	font-size: 13px;
	font-weight: var(--ui-font-weight-bold);
	margin-left: 6px;
	vertical-align: middle;
}

.tm-social-footer {
	border-top: 1px solid #dfe1e1;
	padding-top: 15px;
	text-align: center;
}

.tm-social-footer-text {
	color: #868b91;
	display: inline-block;
	font-size: 13px;
	vertical-align: middle;
}


.tm-social-footer .webform-small-button-link {
	margin-left: 9px;
	color: #3f4653;
}

.tm-social-error-popup .tm-social-set-title {
	border-bottom: 1px solid #dfe1e1;
}

.tm-social-error-text {
	padding: 10px 4px 15px;
	line-height: 19px;
}

/*============================================================ TASK IN TM ===================================================*/

.tm-task-list {
	padding-top: 0;
}

.tm-popup-task-item {
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	text-shadow: 0 1px #fff;
}

.tm-task-item {
	font-size: 14px;
	padding-top: 10px;
}


.tm-task-name {
	font-size: 14px;
	line-height: 16px;
}

.tm-task-name,
.tm-task-name:hover {
	color: #535c69;
}

.tm-task-time:before {
	top: 2px;
}

.tm-task-item-menu {
	width: 25px;
	height: 19px;
	right: -3px;
	top: 8px;
	background: url(images/tm-task-item-menu.svg) no-repeat center;
}

